{% extends "base.html.twig" %}

{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-3" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<div class="d-flex justify-content-around flex-wrap container mt-5">
		{% for post in posts %}
			<div class="card" style="width: 18rem;">
				{% if post.image  %}
					<img src={{ post.image }} class="card-img-top" alt={{post.title}}>
				{% endif %}
				<div class="card-body">
					{% if post.title  %}
						<h5 class="card-title">{{ post.title }}</h5>
					{% endif %}
					<p class="card-text">{{ post.content }}</p>

					{% if app.user and app.user is same as post.user %}
						<a href="{{ path('delete-post', {'id': post.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-post', {'id': post.id}) }}" class="btn btn-warning">Modifier</a>
						<a href="{{ path('copy-post', {'id': post.id}) }}" class="btn btn-info">Copier</a>
					{% endif %}
				</div>
				<div class="card-footer">
					<small class="text-muted">Publié par
						{{post.user.username}}
						le
						{{post.publishedAt | date("d/m/Y")}}
						à
						{{post.publishedAt | date("H:i")}}
					</small>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
